html,
body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Montserrat Alternates', sans-serif;
  /* background-color: whitesmoke;
  color: #232323; */
  background-color : #232323;
  /* color:whitesmoke */
}

* {
  margin: 0;
}


/* 
-----------------------------------------------------------------------------------------------------------------
---------------------------------------------Navbar style -------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------
*/
/* .navbar {
    width: 100vw;
    height: 8vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    background-color: rgb(147, 63, 252);
    font-family: 'Architects Daughter', cursive;
} 

.leftnav{
    display: flex;
}

#forum_tittle{
    margin-left: 1vw;
} */

/* #forum_tittle a {
    text-decoration: none;
    color: #232323;
    font-size: 30px;
    font-weight: 900;
} */

/* .rightnav{
    margin-left: 30vw;
}

#menu a {
    text-decoration: none;
    color: #232323;
    padding: 25px;
}

#menu a:hover {
    background-color: rgb(255, 231, 17);
    color: tomato;
    border-radius: 2%;
} */

/* 
-----------------------------------------------------------------------------------------------------------------
---------------------------------------------Navbar2 style -------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------
*/

.firstblock {
    background-image: url("https://i.pinimg.com/originals/47/0a/19/470a19a36904fe200610cc1f41eb00d9.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90vw;
    border-radius: 100px;
    margin-left: 5vw;
    height: 50vh;
    font-family: 'Lobster', cursive;
}

.forum_title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#forum_tittle a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 30px;
    font-weight: 900;
} 

.leftnav {
    margin-top: 2vh;
    margin-left: 5vw;
}

.leftnav a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 35px;
    margin-left: 0.5vw;
}

.rightnav {
    margin-right: 5vw;
}

#menu a {
    text-decoration: none;
    color: whitesmoke;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
}

#menu a:hover {
    color: tomato;
}

.Inscription {
    border: solid 0.2px whitesmoke;
    border-radius: 50px;
}

.Inscription:hover {
    background-color: rgb(255, 231, 17);
    color: rgb(219, 65, 38);
    border-radius: 50px;
}



/* 
-----------------------------------------------------------------------------------------------------------------
--------------------------------------------- Main Content -------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------
*/




#filtrer {
    display: none;
}




/* 
-----------------------------------------------------------------------------------------------------------------
--------------------------------------------- Post --------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------
*/

.main_content{
    margin-left: 7vw;
    margin-right: 7vw;
}

.thirdblock{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 7vw;
    grid-row-gap: 5vh
}
.card__post {
    background-color: whitesmoke;
    width: 100%;
    border-radius: 31px;
}

.card__post .avatar img {
    width: 32px;
    border: solid 2px black;
    border-radius: 20px;
}

 
/*---------------------------------------------------------------------------------------------------------------
---------------------------------------------Responsive ---------------------------------------------------------
---------------------------------------------------------------------------------------------------------------*/


@media screen and (min-width : 2140px) { 
    .thirdblock{
        grid-column-gap: 10vw;
        grid-row-gap : 5vh;
    }
}