html,
body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Montserrat Alternates', sans-serif;
  /* background-color: whitesmoke;
  color: #232323; */
  background-color : #232323;
  /* color:whitesmoke */
}

* {
  margin: 0;
}


/* 
-----------------------------------------------------------------------------------------------------------------
---------------------------------------------Navbar style -------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------
*/
.navbar {
    width: 100vw;
    height: 8vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    background-color: rgb(147, 63, 226);
    font-family: 'Architects Daughter', cursive;
} 

.navbar{
    /* position:fixed; */
}


.leftnav{
    display: flex;
}

#forum_tittle{
    margin-left: 1vw;
}

#forum_tittle a {
    text-decoration: none;
    color: #232323;
    font-size: 30px;
    font-weight: 900;
}

.rightnav{
    margin-left: 30vw;
}

#menu a {
    text-decoration: none;
    color: #232323;
    padding: 25px;
}

#menu a:hover {
    background-color: rgb(255, 231, 17);
    color: tomato;
    border-radius: 2%;
}



/* 
-----------------------------------------------------------------------------------------------------------------
--------------------------------------------- Main Content -------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------
*/




/* 
-----------------------------------------------------------------------------------------------------------------
--------------------------------------------- Post --------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------
*/

.main_content{
    margin-left: 7vw;
    margin-right: 7vw;
}

.thirdblock{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 7vw;
    grid-row-gap: 5vh
}
.card__post {
    background-color: whitesmoke;
    width: 100%;
    height: 20vh;
    border-radius: 31px;
}

.card__post .avatar img {
    width: 32px;
    border: solid 2px black;
    border-radius: 20px;
}

/* .post_tall{
    grid-row: span 2 / auto;
}

.post_wide {
    grid-column: span 2 / auto;
} */

  v 
 
/*---------------------------------------------------------------------------------------------------------------
---------------------------------------------Responsive ---------------------------------------------------------
---------------------------------------------------------------------------------------------------------------*/


@media screen and (min-width : 2140px){ 
    .thirdblock{
        grid-column-gap: 10vw;
        grid-row-gap: 5vh;
    }
}