{{define "user"}}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projet Forum</title>
        <link rel="icon" href="/static/img/icon/forum.png">
        <!-- fontstyle -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat+Alternates:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/index.css">
    </head>
<body>

    
    <div style="width:100%; color:whitesmoke;" >
        
        <p>username : {{.Username}}</p>
        <p>Avatar : {{.Avatar}}</p>
        <p>Email : {{.Email}}</p>
        <p>Role : {{.Role}}</p>
        <p>Liste de posts de l'utilisateur : </p>
        {{range .PostList}}
            <div>
                <form method="post">
                    <p>Nom du post{{.PostName}}</p>
                    <p>Catégorie du post : {{.PostCategory}}</p>
                    <p>Date du post : {{.PostDateString}}</p>
                    <p>Description : {{.PostDescription}}</p>
                    <p>URL : {{.PostURL}}</p>
                    <p>Likes : {{.PostLikes}}</p>
                    <p>Dislikes : {{.PostDislikes}}</p>
                    <p>Description : {{.PostDescription}}</p>
                    <button type="submit" name="delete_post" value={{.PostID}}>delete post</button>
                    <p>Comments : </p>
                    {{range .TabComment}}
                        <div>
                            <p>{{.CommentMessage}}</p>
                            <p>{{.CommentLikes}}</p>
                            <p>{{.CommentDislikes}}</p>
                            <p>{{.CommentDateString}}</p>
                            <button type="submit" name="delete_comment" value={{.CommentID}}>delete comment</button>
                        </div>
                    {{end}}
            
                </form>
            </div>
        {{end}}

            <div>
                PostLiked: 
                {{range .PostLiked}}
                <div>
                    <p>Nom du post{{.PostName}}</p>
                    <p>Catégorie du post : {{.PostCategory}}</p>
                    <p>Date du post : {{.PostDateString}}</p>
                    <p>Description : {{.PostDescription}}</p>
                    <p>URL : {{.PostURL}}</p>
                    <p>Likes : {{.PostLikes}}</p>
                    <p>Dislikes : {{.PostDislikes}}</p>
                    <p>Description : {{.PostDescription}}</p>
                </div>
                {{end}}
                
            </div>
            <div>
                PostDisliked: 
                {{range .PostDisliked}}
                <div>
                    <p>Nom du post{{.PostName}}</p>
                    <p>Catégorie du post : {{.PostCategory}}</p>
                    <p>Date du post : {{.PostDateString}}</p>
                    <p>Description : {{.PostDescription}}</p>
                    <p>URL : {{.PostURL}}</p>
                    <p>Likes : {{.PostLikes}}</p>
                    <p>Dislikes : {{.PostDislikes}}</p>
                    <p>Description : {{.PostDescription}}</p>
                </div>
                {{end}}
            </div>
            
        
        
    </div>
    


</body>
</html>
{{end}}