{{define "admin"}}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projet Forum</title>
        <link rel="icon" href="/static/img/icon/forum.png">
        <!-- fontstyle -->
        <link rel="stylesheet" href="/static/css/admin.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap" rel="stylesheet">   
    </head>
<body>
    <header>
        <nav class="navbar">
            <div id="forum_tittle">
                <a href="/index">Administrateur</a>
            </div>
        </nav>
    </header>

    <div style="width:100%; color:whitesmoke;" >
        <form method="post">
        {{range .TabUser}}
            <p>username : {{.Username}}</p>
            <p>Avatar : {{.Avatar}}</p>
            <p>Email : {{.Email}}</p>
            <p>Role : {{.Role}}</p>
            <button type="submit" name="promote" value={{.ID}}>promote</button>
            <button type="submit" name="demote" value={{.ID}}>demote</button>
        {{end}}

            <div class="category">
                <label for="username"> add category : </label>
                <input type="text" placeholder="add category" name="category">
            </div>
            <button type="submit" class="signupbtn">ADD CATEGORY</button>

        {{range .CategoryList}}
            <p>{{.CategoryName}}</p>
            <button type="submit" name="deletecategory" value={{.CategoryID}}>deletecategory</button>
        {{end}}


        </form>
    </div>
</body>
</html>
{{end}}