<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet Forum</title>
    <link rel="icon" href="/static/img/icon/forum.png">
    <link rel="stylesheet" href="/static/css/index.css">
    <!-- fontstyle -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat+Alternates:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <div id="img_forum">
                <img src="/static/img/icon/forum.png" alt="ForumIcon">
            </div>
            <div id="forum_tittle">
                <h1>Forum</h1>
            </div>

            <div id="menu_toggle">
                <input type="checkbox"/>
                <span></span>
                <span></span>
                <span></span>
                <ul id="menu">
                    <a href="#"><li></li></a>
                    <a href="#"><li></li></a>
                    <a href="#"><li></li></a>
                    <a href="/login"><li>Connexion</li></a>
                </ul>  
            </div>
        </nav>
    </header>


    
</body>
<script src="/static/js/index.js"></script>
</html>