{{define "index"}}
<!-- front à améliorer -->
<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet Forum</title>
    <link rel="icon" href="/static/img/icon/forum.png">
    <!-- fontstyle -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat+Alternates:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <header>
        <nav class="firstblock">
            <div class="forum_title">
                <div class="leftnav">
                    <img src="/static/img/icon/forum.png" alt="ForumIcon">
                    <a href="/index">Forum</a> 
                </div>
                <div class="rightnav">
                    <div id="menu">
                        <!-- <a id="btnfilter" style="cursor: pointer;">Filtrer</a> -->
                        <!-- <a href="/newpost">New Post</a> -->
                        <!-- <a href="#">Mon compte</a> -->
                        <a href="/login" class="Connexion">Connexion</a>
                        <a href="/register" class="Inscription">Inscription</a>
                    </div>  
                </div>
            </div>
        </nav> 
    </header>
    

        
        <div class="Middle-title">
        </div>
    

      <!-- <nav class="navbar">
            <div class="leftnav">
                <div id="img_forum">
                    <img src="/static/img/icon/forum.png" alt="ForumIcon">
                </div>
                <div id="forum_tittle">
                    <a href="/index">Forum</a>  
                </div>
            </div>

            <div class="rightnav">
                <div id="menu">
                    <a id="btnfilter" style="cursor: pointer;">Filtrer</a>
                    <a href="/newpost">New Post</a>
                    <a href="#">Mon compte</a>
                    <a href="/login" class="Connexion">Connexion</a>
                </div>  
            </div>
        </nav> -->

    <!-- <nav class="navbar">
        
        <div class="rightnav">
            <div id="menu">
                <a id="btnfilter" style="cursor: pointer;">Filtrer</a>
                <a href="/newpost">New Post</a>
                <a href="#">Mon compte</a>
                <a href="/login" class="Connexion">Connexion</a>
            </div>  
        </div>
    </nav> -->
    <div class="main_content">
        <div class="secondblock">
            <div id="filtrer">
                <h2>Filter les postes</h2>
                <form class="form-filter"  method="POST" action="/search">
                    <div class="btn-filter">
                        <button class="btn-filter_name" type="submit" name="Name" value="run">Titre</button>
                        <button class="btn-filter_catego" type="submit" name="Categories" value="run">Categories</button>
                        <button class="btn-filter_post" type="submit" name="CreatedPosts" value="run">Date de création</button>
                        <button class="btn-filter_like" type="submit" name="LikedPosts" value="run">Nombre de Like</button>
                    </div>
                </form>
            </div>

            {{range .CategoryList}}
            <div class="card_categorie">
                <a href="#">{{.CategoryName}}</a>
                {{.CategoryNumber}}
            </div>
            {{end}}
        </div>

        <div class="thirdblock">
            {{range .TabList}}
            <!-- rajouter le lien de la page du post -->
            <!-- /post/templates -->
            <div class="card__post" onclick="location.href='{{.PostURL}}';" style="cursor:pointer;">
                
                <div class="avatar">
                    <img src={{.UserAvatar}} alt="avatar">
                </div>
                <div class="user_post">
                    <p>{{.UserName}}</p>
                </div>

                <div class="title_post">
                    <h2>{{.PostName}}</h2>
                </div>
                <div class="post_">
                    <p>{{.PostDescription}}</p>
                </div>
                <div class="categorie_post">
                    
                        <p>{{.PostCategory}}</p>
                    
                </div>
                <div class="date_heure_post">
                    <p>{{.PostDateString}}</p>
                </div>

                <div class="nb_like_post_random">
                    <img src="../static/img/icon/heart.png" alt="image pouce/coeur">
                    <span>{{.PostLikes}}</span>
                    <img src="../static/img/icon/commentaire.png" alt="image commentaire">
                    <!-- rajouter templates nb commentaire -->
                    <span>nb commentaire</span>
                </div>
            </div>
            {{end}}
        </div>

    </div>

</body>
<script src="/static/js/index.js"></script>
</html>

{{end}}