{{define "login"}}
<!-- faire le css + ameliorer html -->
<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet Forum</title>
    <link rel="icon" href="/static/img/icon/forum.png">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <div id="forum_tittle">
                <a href="/index">Forum</a>  
            </div>
        </nav>
    </header>
    <div class="connexion">
        <div class="bgblack"></div>
        <p>{{.Error}}</p>
        <form action="" method="GET">
            <div id="mail"> 
                <label for="mail"> E-mail : </label>
                <br>
                <input type="email" id="mail" name="user_mail" required>
            </div>
            <div id="mdp">
                <label for="password"> Mot de passe : </label>
                <br>
                <input type="password" id="password" name="user_password" required>
            </div>
            <div>
                <button class="btn btn-outline-secondary" type="submit">rechercher</button>
            </div>
        </form>
    </div>
</body>
</html>
{{end}}