{{define "newpost"}}
<!-- faire le css -->
<!DOCTYPE html>
<html lang="FR">    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projet Forum</title>
        <link rel="icon" href="/static/img/icon/forum.png">
        <!-- fontstyle -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat+Alternates:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/newpost.css">
    </head>
<body>
    <header>
        <nav class="navbar">
            <div class="leftnav">
                <div id="img_forum">
                    <img src="/static/img/icon/forum.png" alt="ForumIcon">
                </div>
                <div id="forum_tittle">
                    <h1>Forum</h1>
                </div>
            </div>
            <div class="rightnav">
                <div id="menu">
                    <a href="/index">Accueil</a>
                    <a href="#">Mon compte</a>
                    <a href="/login" class="Connexion">Connexion</a>
                </div>  
            </div>
        </nav>
    </header>

    <div class="main_content">
        <h1>Nouveau Topic</h1>
        <p>{{.Error}}</p>
        <div class="card_newpost">
            <form action="/newpost" method="post">
                <div class="Titre_post">
                    <label for="titre-sujet" id="titre-sujet">Titre du Sujet : </label>
                    <input type="text" id="Titre_sujet" name="Titre_sujet"required>
                </div>
                <div class="categorie_newpost">
                    <label for="categorie_newpost">Choissisez une catégorie : </label>
                    <select name="categorie" id="categorie">
                        <option value="jeux-videos">Jeux-Videos</option> 
                        <option value="x">x</option>      
                        <option value="y">y</option>       
                        <!-- <option value="" selected></option>        -->
                        <option value="Divers">Divers</option>
                        
                    </select>
                </div>
                <div class="text_area">
                    <label for="message">Message : </label>
                    <textarea name="message_newpost" id="message_newpost" cols="30" rows="10" value="Ecrivez quelque chose ..." required></textarea>
                </div>
                <div class="btn-newpost">
                    <button class="btn-newpost-submit" type="submit">Soumettre</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
{{end}}
	