{{define "post"}}
<!-- faire la page et le style -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet Forum</title>
    <link rel="icon" href="/static/img/icon/forum.png">
    <link rel="stylesheet" href="/static/css/post.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">        
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="leftnav">
                <div id="forum_tittle">
                    <a href="/index">Forum</a>
                </div>
            </div>
            <div class="rightnav">
                <div id="menu">
                    <a class="UserName" id="UserName" href="/user"><img src="/static/img/icon/usericon.png" alt="iconuser"> {{.User.Username}}</a>
                    <a href="/login" id="Connexion" class="Connexion">Connexion</a>
                    <a href="/register" id="Inscription" class="Inscription">Inscription</a>
                    <form method="post">
                        <button class="Deconnexion" id="Deconnexion" name="Deconnexion" value="run">Deconnexion</a>
                    </form>
                </div>  
            </div>
        </nav>
    </header>

    <div class="main_content">
        <div class="post">
            <!-- titre du post -->
            <div class="tittle_post"> 
                <h1>{{.Post.PostName}}</h1>
            </div>
            
            <!-- pseudo du redacteur du post -->
            <div class="user_post">
                <h2>{{.Post.UserName}}</h2>               
            </div>

            <!-- image avatar -->
            <div class="img_user">
                <img src={{.Post.UserAvatar}} alt="avatar">
            </div>

            <!-- date du post -->
            <div class="date_post">
                {{.Post.PostDateString}}
            </div>

            <!-- categorie du post -->
            <div class="categories_post">
                <ul>
                    
                    <li>{{.Post.PostCategory}}</li>
                    
                </ul>
            </div>

            <!-- post -->
            <div class="post">
                <!-- template pour recup text du post initial -->
                <p>{{.Post.PostDescription}}</p>
            </div>

            <form class="form-filter"  method="POST">
                    
                <button class="btn-like" type="submit" name="likes" value="run">J'aime</button>
                <span class="nbr_like">{{.Post.PostLikes}}</span>
                <button class="btn-dislike" type="submit" name="dislikes" value="run">Je n'aime pas</button>
                <span class="nbr_dislike">{{.Post.PostDislikes}}</span>
                    
            </form>

        </div>


        <!-- range pour les commentaires -->
        {{range .Post.TabComment}}

        <div class="comments">

            <!-- user name -->
            <div class="user_name_comment">
                <h2>{{.UserName}}</h2> 
            </div>

            <!-- img avatar -->
            <div class="img_avatar_comment">
                <!-- templates img avatar -->
                <img src={{.UserAvatar}} alt="avatar">
            </div>
            
            <!-- date et heure commentaire -->
            <div class="date_comment">
                <p>{{.CommentDateString}}</p>
            </div>

            <!-- commentaire -->
            <div class="commentaire_user">
                <p>{{.CommentMessage}}</p>
            </div>
            
            <!-- button like/dislike -->
            <form class="form-filter"  method="POST">
                J'aime :
                {{.CommentLikes}}
                <button class="btn-like" type="submit" name="CommentLikes" value={{.CommentID}}>J'aime</button>
                Je n'aime pas :
                {{.CommentDislikes}}
                <button class="btn-dislike" type="submit" name="CommentDislikes" value={{.CommentID}}>Je n'aime pas</button>
            </form>
            
                  
        </div>    
        {{end}}

        <form action="" method="POST">
            <div id="reponse_user">
                <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
                <button type="submit">send comment</button>
            </div>
        </form>
    </div> 
</body>
<script src="/static/js/post.js"></script>
</html>
{{end}}