{{define "register"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet Forum</title>
    <link rel="icon" href="/static/img/icon/forum.png">
    <link rel="stylesheet" href="/static/css/register.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <h1>Forum</h1>
          <ul>
              <li>A</li>
              <li>B</li>
              <li><a href="/login">Connexion</a></li>
          </ul>  
        </nav>
    </header>

    <div class="registration">
        <form action="/login" method="GET">
            <div class="container">
                <h1>Sign Up</h1>
                <p>Please fill in this form to create an account.</p>
                <hr>
                <div class="username">
                    <label for="username"><b> Pseudo : </b></label>
                    <input type="text" placeholder="Enter an user name" name="username" required>
                </div>
                <div class="email">
                    <label for="email"><b> Email : </b></label>
                    <input type="text" placeholder="Enter an email" name="email" required>
                </div>
                <div class="password">
                    <label for="password"><b> Password : </b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>
                </div>
                <div class="psw-repeat">
                    <label for="psw-repeat"><b> Repeat Password : </b></label>
                    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
                </div>
                <div class="clear">
                    <button type="button" class="cancelbtn">Cancel</button>
                    <button type="submit" class="signupbtn">Sign Up</button>
                </div>
            </div>
        </form>
    </div> 
</body>
</html>
{{end}}